body {
    font-family: Arial, sans-serif;
    text-align: left;
}

nav{
    text-align: right;
}

h1 {
    /* text-align: center; */
    color: #111111; /* Preto */
}

h2 {
    color: #b2b2b2; /* Preto */
}

p{
    color: #b2b2b2
}

#logo{
    padding: 0.5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #111 solid 1px;
}

.logocab{
    display: flex;
}

.logocab h1 {
    align-items: center;
    display: flex;
    padding: 10px;
    gap: 0px;
    margin: 0px;
    /* background-color: gray; */
    color: #111111; /* Preto */
}

.cabecalho{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.navegacao{
    background-color: green;
    width:150px;
    height: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5%;
}

.carro img{
    width: 10%;
    padding: 2%;
    margin: 5%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
}

.carro {
    background-color: #111; /* Cinza */
    padding: 1%;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    width: 95%;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerCarro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    padding: 5px;
    gap: 10px;
    justify-content: center;
}

.containerCarro div {
    display: block;
}

.containerCarro div img{
    width: 300px;
    border: 3px solid #ffffff;
}

.carro span{
    color: #febe01;
    font-size: medium;
}

.preco {
    font-size: 15px; /* Aumenta o tamanho da fonte do preço */
}

.botao {
    background-color: #febe01; /* Amarelo 1 */
    color: #332200; /* Amarelo 2 */
    border: none;
    border-radius: 4px;
    padding: 7px 10px;
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 15px; /* Aumenta o tamanho da fonte do botão */
    cursor: pointer;
}

@media screen and (max-width: 820px){

.logocab{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logocab h1 {
    align-items: center;
    display: flex;
    padding: 10px;
    gap: 0px;
    margin: 0px;
    /* background-color: gray; */
    color: #111111; /* Preto */
}

h2 {
    font-size: 15px;
    color: #b2b2b2; /* Preto */
}

.containerCarro{
    grid-template-columns: repeat(1, 0fr);
    width: 300px;
    height: 10px;
} 

.containerCarro div img{
    width: 190px;
    border: 3px solid #ffffff;
}

.carro span{
    color: #febe01;
    font-size: medium;
}

.carro { 
    padding: 1px;
    width:370px;   
    height: 400px;
    justify-items: center;
}

.grid-container{
    grid-template-columns: repeat(2, 1fr);  
}

.cabecalho{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navegacao{
    background-color: green;
    width:150px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5%;
}

.grid-nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    gap: 5px;
    margin:40px;
}

}

@media screen and (max-width: 320px) {
    
    .logocab{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-left: 15px;
    }
    
    .logocab h1 {
        align-items: center;
        display: flex;
        /* padding: 10px; */
        /* background-color: gray; */
        color: #111111; /* Preto */
    }

    .cabecalho{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .grid-nav{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 5px;
        margin-left: 40px;
        margin-bottom: 0px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .containerCarro{
        grid-template-columns: repeat(1, 1fr);
        
        width: 300px;
        height: 10px;
    } 
}
