body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    /* text-align: center; */
    color: #111111; /* Preto */
}

div{
    justify-self: center;
}

.carro {
    background-color: #111; /* Cinza */
    padding: 1%;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    width: 25%;
}

.carro span{
    color: #febe01;
}

h2 {
    color: #b2b2b2; /* Preto */
}

p{
    color: #b2b2b2
}

.preco {
    font-size: 24px; /* Aumenta o tamanho da fonte do preço */
}

.botao {
    background-color: #febe01; /* Amarelo 1 */
    color: #332200; /* Amarelo 2 */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 18px; /* Aumenta o tamanho da fonte do botão */
}
